* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    

    --footer-textColor: #7E8387;
    --footer-background-color: #F2F2F2;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 0.3fr 1fr 0.5fr 1.5fr 0.2fr;
    min-height: 100vh;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "nav nav nav nav nav"
      "hero-img hero-img hero-img hero-img hero-img"
      "inputs inputs inputs inputs inputs"
      "section-a section-a section-a section-a section-a"
      "footer footer footer footer footer";
}

/* --------------------
    NAVIGATION
----------------------*/ 
.nav { grid-area: nav; }
.nav {
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:10px;
}
.nav ul {
    display:flex;
    align-items: center;
}
.nav ul li {
    list-style-type:none;
    margin:0 10px;
}
.nav ul li a {
    color: black;
    text-decoration:none;
}

/* --------------------
    HERO IMG
----------------------*/ 
.hero-img { grid-area: hero-img; }
.hero-img{
    width:100%;
    height:290px;
    display:flex;
    justify-content:center;
    align-items:flex-end;
}

/* --------------------
    INPUTS SECTION
----------------------*/ 
.inputs { grid-area: inputs; }
.inputs {
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
}
.main-search-bar {
    display:flex;
    align-items:center;
}
.main-search-input {
    width: 500px;
    height: 34px;
    padding: 20px;
    border-radius: 2rem;
    border: 1px solid var(--footer-textColor);
}
.search-img {
    position: relative;
    left: 35px;
}
.microphone-img {
    position: relative;
    right: 35px;
}
.side-buttons {
    margin-top: 10px;
    padding: 20px;
}
.side-buttons input {
    background-color: #F2F2F2;
    padding: 10px;
    border: 0;
    margin: 0 5px;
}
/* --------------------
    SECTION - A
----------------------*/ 
.section-a { grid-area: section-a; }
.section-a {
    margin: 0 auto;
    display: flex;
    justify-content:center;
    align-items:end;
}
.section-a img {
    width: 48px;
    height: 48px;
}
.section-a small {
    margin-top: 15px;
}

/* --------------------
    FOOTER
----------------------*/ 
.footer { grid-area: footer; }
.footer {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 10px;
      background-color: var(--footer-background-color);
}
.footer div ul{
    display: flex;
}
.footer div ul li{
    list-style-type: none;
    margin: 0 10px;
}
.footer div ul li a {
    color: var(--footer-textColor);
    text-decoration: none;
}
.footer small {
    color: var(--footer-textColor);
}
.footer small img {
    width: 12.25px;
    height: 14px;
}



/* --------------------
    PSEUDO CLASSES
----------------------*/ 
ul li a:hover {
    text-decoration:underline;
    
}
.footer ul li a:hover {
    text-decoration:underline;
}
.footer small:hover {
    text-decoration: underline;
    cursor: pointer;
}